@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

.layout-styles {
  margin: 2%;
  margin-top: 1%;
  font-family: 'Montserrat', sans-serif;

}

.label-styles {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2em;
}

.chart-styles {
  padding: 1%;
  padding-top: 0;
  padding-bottom: 0;
  border: 2px solid rgb(73, 147, 250);
  box-shadow: 5px 5px 5px rgb(73, 147, 250);
  border-radius: 15px;
  height: 100%;
}

.rank-change-icon {
  display: flex;
  align-items: center;
}

.icon-placeholder {
  display: inline-block;
  width: 20px;
  margin-right: 5px;
}